button.btn.btn-primary.get-expenses type="button" data-loading-text="Loading..."  Get Outstanding Expenses

table.table.table-striped.expenses
  tr.heading
    th Project ID
    th Employee
    th Notes
    th Date

script src='/js/expenses.js'
