doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title Inviter
    link rel="stylesheet" media="screen, projection" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    /[if lt IE 9]
      script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"

    style
     | body { padding: 70px 0 20px; }
     | table { margin-top: 60px; }


    script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
  body
    .container
      h1 Outstanding Expenses
      == yield
    script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
