h2
  | Login
form role="form" method="post" action="/login"
  .form-group
    label for="exampleInputEmail1"  Email address
    input#exampleInputEmail1.form-control placeholder=("Enter email") type="email" name="email" value="#{@email}"
  .form-group
    label for="exampleInputPassword1"  Password
    input#exampleInputPassword1.form-control placeholder="Password" type="password" name="password"
  button.btn.btn-default type="submit"  Submit
